@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing-effect {
  height: 5rem;
  overflow: hidden; 
  white-space: nowrap;
  border-right: 1.5px solid white; 
  width: 0; 
  animation: typing 6s steps(50, end) 1, blink 0.8s step-end infinite;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 639px) {
  .typing-effect {
    height: 2rem;
}

}